.map-info-card-wrapper {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.map-info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    max-width: 60%;
    background-color: var(--lighter-blue);
    color: var(--darkest-blue);
    border-radius: 1rem;
    box-shadow: 1rem;
    padding: 1rem;
}

.map-info-title {
    font-size: 3rem;
    font-weight: 600;
    color: black;
}

.map-info-creator {
    color: gray
}

.map-info-creator-name {
    font-size: 1rem;
    font-weight: 700;
}

.map-stat-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.map-stat-card {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--lighter-blue);
    border-radius: 1rem;
    width:100%;
}

.map-stat-icon {
    color: grey;
    filter: brightness(75%);
    padding-right: 1rem;
    font-size: 3rem;
}

.map-stat-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: flex-start;
    color: black;
}
.map-stat-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.typed-map-stat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.map-stat-header {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.typed-map-stat-box {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-blue);
    width:100%;
}

.map-info-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.map-info-box {
    width:90%;
    border-radius: 1rem;
    flex-grow: 1;
    background-color: var(--dark-blue);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    border-width: 4px;
    border-color: white;
    overflow: hidden;
}

.map-info-header {
    padding-top: 1rem;
    color:white;
    font-size: 2rem;
    font-weight: 700;
}

.horizontal-alignment {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
}

.map-info-back-button{
    position: relative;
    color:white;
}
.map-info-button-div{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}
.play-button {
    background-color: rgb(27, 202, 27);
}

.edit-button {
    background-color: rgb(226, 134, 14);
}

.map-leaderboard-button{
    background-color: var(--leaderboard-yellow);
}

.map-info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.map-info-button-icon {
    font-size:1rem;
    margin-right: 0.5rem;
}

.map-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    z-index: 0;
}

.gray-button:disabled{
    background-color: gray;
}

.gray-button:hover {
    filter: brightness(90%);
}

.mouse-pointer:hover {
    cursor:pointer;
    filter: brightness(90%);
}

.map-search-back-button{
    position: absolute;
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 3rem;
    color: white;
    font-size: 3rem;
}

.map-search-back-button:hover {
    cursor:pointer;
    filter: brightness(90%);
}

.map-search-back-button:disabled {
    color: gray;
}

.map-info-description-button {
    background-color: var(--dark-blue);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    overflow-x: auto;
}

.map-info-description-text {
    font-size: 1.2rem;
    color: white;
    white-space: pre-line;
    overflow-wrap: break-word;
    word-break: break-word;
}

.map-info-description-editing{
    width:100%;
}
.map-info-description-textbox{
    width:100%;
}

.map-description-editing-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    gap: 4px;
}

.map-description-char-counter{
    font-size: 0.5rem;
    text-align: right;
}

.map-description-save{
    height: 100%;
    text-align: center;
    align-items: center;
    font-weight: 700;
    border-radius: 1rem;
    background-color: var(--plonk-stars-red);
    color: white;
    border-width: 1px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.map-description-cancel{
    height: 100%;
    text-align: center;
    align-items: center;
    font-weight: 700;
    border-radius: 1rem;
    background-color: gray;
    color: white;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.map-add-description{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
}
.description-edit-pencil{
    display: inline;
    margin-left: 1rem
}

.map-name-edit-pencil{
    display: inline;
    font-size: 1.5rem;
    margin-left: 0.5rem
}

.map-name-edit-textbox{
    text-align: center;
}

.map-name-editing-footer{
    color: gray;
    font-size: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.map-name-edit-instruction{
    font-size: 0.5rem;
    text-align: center;
}

.map-delete-trash-button {
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
}

.map-delete-trash-button:hover {
    color: var(--plonk-stars-red);
    cursor: pointer;
}