.map-info-card-wrapper {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.map-stat-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.map-stat-card {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--lighter-blue);
    border-radius: 1rem;
    width:100%;
}

.map-stat-icon {
    color: grey;
    filter: brightness(75%);
    padding-right: 1rem;
    font-size: 3rem;
}

.map-stat-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: flex-start;
    color: black;
}
.map-stat-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.typed-map-stat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.map-stat-header {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.typed-map-stat-box {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-blue);
    width:100%;
}

.map-info-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.map-info-box {
    width:90%;
    border-radius: 1rem;
    flex-grow: 1;
    background-color: var(--dark-blue);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    border-width: 4px;
    border-color: white;
    overflow: hidden;
}

.map-info-header {
    padding-top: 1rem;
    color:white;
    font-size: 2rem;
    font-weight: 700;
}

.horizontal-alignment {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
}

.map-leaderboard-button{
    background-color: var(--leaderboard-yellow);
}


.map-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    z-index: 0;
}

.gray-button:disabled{
    background-color: gray;
}

.gray-button:hover {
    filter: brightness(90%);
}

.map-search-back-button{
    position: absolute;
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 3rem;
    color: white;
    font-size: 3rem;
}

.map-search-back-button:hover {
    cursor:pointer;
    filter: brightness(90%);
}

.map-search-back-button:disabled {
    color: gray;
}

.map-stat-box-blurred {
    filter: blur(8px);
}