.score-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    overflow: hidden;
}

.score-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-color: var(--color-accent-gold);
    border-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    background-color: var(--even-darker-darkest-blue);
}