.user-card-card{
    position: relative;
    background-color: var(--dark-blue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.user-card-user-icon{
    width: 100%;
    padding: 20%;
    padding-bottom: 0%;
}
.user-card-username{
    background-color: var(--darker-blue);
    border-radius: 1rem;
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
    padding: 0rem 0.5rem;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 0.75rem;
}

.gold-name{
    color: var(--leaderboard-yellow);
}