.timer-container{
    min-width: 5rem;
    width: 100%;
    font-size: large;
    background-color: None;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.timer-box{
    width: 100%;
    color: white;
    text-align: center;
}

.timer-fill{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00FF00;
    opacity: 0.8;
    transition: 0.1s linear;
}

.timer-text{
    padding: 2rem;
    background-color: #1b1818;
}