.leaflet-container-wrapper {
    width: 23vw;
    height: 25vh;
    overflow: hidden;
    z-index: 99;
    transition: all 0.1s ease-in-out;
    transform-origin: bottom right;
    opacity: 0.6;
}
  

.leaflet-container-wrapper:hover {
    transform: scale(2.4);
    opacity: 1;
    cursor: crosshair;
}

.leaflet-container-wrapper.hovered {
    transform: scale(2.4);
    opacity: 1;
    cursor: crosshair;
}
  
  
.leaflet-control-attribution {
    font-size: 0.35rem !important;
}
  
.leaflet-map {
    width: 100%;
    height: 100%;
    cursor: crosshair !important;
}
  
.leaflet-container-result-wrapper {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    z-index: 99;
}
  
.leaflet-result-map {
    width: 100%;
    height: 100%;
}

.combined-map-container {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
  
  .map-result-container {
        position: relative;
        z-index: 0;
  }

  .leaflet-control-zoom-in, .leaflet-control-zoom-out {
    font-size: 0.5rem !important;
    width: auto !important;
    height: auto !important;
    padding: 2px!important;
}

.transparent-icon {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
  }

@media (max-width: 720px) {
    .map-result-container {
        top: -5vh;
    }
    .combined-map-container {
        margin: 0%;
        top: -10vh;
    }
    .leaflet-container-wrapper {
        width: 100vw;
        height: 30vh;
        opacity: 1;
    }
    .leaflet-container-wrapper:hover {
        transform: none;
        opacity: 1;
    }

    .leaflet-container-wrapper.hovered {
        transform: none;
    }
  
    .leaflet-container-result-wrapper {
        width: 100%;
        height: 80vh;
        overflow: hidden;
        z-index: 1000;
        transition: transform 0.3s ease-in-out;
        transform-origin: bottom right;
    }
}