.street-view-box {
    height: 90vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

.street-view-box .street-view-embed iframe {
    position: relative;
    height: 90vh;
    width: 100%;
}

.bg-accent1 {
    background: linear-gradient(to right, var(--background), var(--color-accent1));
}