.duels-results-tooltips-name{
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.outlined-text {
    font-weight: 800;
    -webkit-text-stroke: 0.25px grey;
}
.duels-results-footer-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 10vh;
}

.duels-results-footer-item{
    display:flex;
    justify-content: center;
    align-items: center;
}

.duels-results-footer-guess-display{
    width: 90%;
    height: 80%;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    display: flex;
    justify-content: space-between;

}

.duels-results-footer-guess-display-item{
    width: 100%;
    height: 100%;
    text-align: center;
}
.duels-results-footer-guess-display-header{
    width: 100%;
    font-weight: 1000;
}

.duels-results-footer-timer{
    font-size: 2rem;
    font-weight: bold;
    color:white;
    text-shadow: 0 0 5px #ffcc00,
                 0 0 10px #ffcc00,
                 0 0 20px #ffcc00,
                 0 0 40px #ffcc00;
}

.duels-results-footer-item-center{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}