.corner-street-view {
  position: absolute;
  top: 60vh;
  right: 0;
  z-index: 1000;
  height: 29vh;
  width:25%;
  overflow: hidden;
}

.corner-street-view:hover{
  top:30vh;
  height: 59vh;
  width: 50%;
}

.edit-grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}

.edit-grid-left-elements {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.edit-grid-right-elements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.edit-back-button {
  background-color: gray;
  width:50%;
  height: 70%;
  border-radius: 2rem;
}
.edit-back-button:hover {
  filter: brightness(90%);
}

.edit-right-button {
  width:80%;
}

.weight-input-box {
  color: black;

}

.bound-weight-display {
  padding-right: 0.5rem;
}

.weight-title {
  width: 100%;
  justify-items: center;
  text-align: center;
}