.game-panel{
    position: relative;
    width: 100%;
    pointer-events: none;
}

.text-white{
    color:white;
}

.score-wrapper{
    position: relative;
    height: var(--navbar-height);
    width: 100%;
    z-index: 101;
}