body {
  scroll-behavior: smooth;
}

.map-container {
  width: 100%;
  height: 70%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.btn-selected {
  background-color: gray;
  border-radius: 1rem;
  color: var(--plonk-stars-white);
  padding: 0.5rem 1rem;
  transition: 0.2s ease-in-out;
}

.btn-selected:hover {
  transform: scale(1.02);
  box-shadow: 0px 3px 10px rgba(0, 25, 51, 0.3);
}

.btn-selected:active {
  transform: scale(0.97);
}

.rank-number-text{
  color:white;
  font-size: 1.5rem;
}

.user-name-text{
  color:var(--lightest-blue);
  font-size: 1rem;
  height: 100%;
}

.rank-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-leaderboard-style{
  margin-top: 1rem;
  min-width: 100%;
  column-width: 10%;
}

.summary-score-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.summary-score-text{
  font-size:1rem;
  font-weight: 700;
}

.summary-other-stats{
  font-size: 0.75rem;
  color: gray;
}