.map-info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    max-width: 80%;
    background-color: var(--lighter-blue);
    color: var(--darkest-blue);
    border-radius: 1rem;
    box-shadow: 1rem;
    padding: 1rem;
}

.map-info-title {
    font-size: 3rem;
    font-weight: 600;
    color: black;
}

.map-info-creator {
    color: gray
}

.map-info-creator-name {
    font-size: 1rem;
    font-weight: 700;
}

.map-info-description-button {
    background-color: var(--dark-blue);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.map-info-description-text {
    font-size: 1.2rem;
    color: white;
    white-space: pre-line;
    overflow-wrap: break-word;
    word-break: break-word;
}

.map-info-description-editing{
    width:100%;
}
.map-info-description-textbox{
    width:100%;
}

.map-description-editing-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    gap: 4px;
}

.map-description-char-counter{
    font-size: 0.5rem;
    text-align: right;
}

.map-description-save{
    height: 100%;
    text-align: center;
    align-items: center;
    font-weight: 700;
    border-radius: 1rem;
    background-color: var(--plonk-stars-red);
    color: white;
    border-width: 1px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.map-description-cancel{
    height: 100%;
    text-align: center;
    align-items: center;
    font-weight: 700;
    border-radius: 1rem;
    background-color: gray;
    color: white;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.map-add-description{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
}
.description-edit-pencil{
    display: inline;
    margin-left: 1rem
}

.map-name-edit-pencil{
    display: inline;
    font-size: 1.5rem;
    margin-left: 0.5rem
}

.map-name-edit-textbox{
    text-align: center;
}

.map-name-editing-footer{
    color: gray;
    font-size: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.map-name-edit-instruction{
    font-size: 0.5rem;
    text-align: center;
}

.map-delete-trash-button {
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.map-delete-trash-button:hover {
    color: var(--plonk-stars-red);
    cursor: pointer;
}

.map-info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.map-info-button-icon {
    font-size:1rem;
    margin-right: 0.5rem;
}

.map-info-button-div{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    gap: 0.5rem;
}

.play-button {
    background-color: rgb(27, 202, 27);
}

.edit-button {
    background-color: rgb(226, 134, 14);
}

@media (max-width: 800px) {
    .map-info-card{
        max-width: 90%;
    }

    .map-info-button-div {
        flex-direction: column;
        gap: 0.5rem;
        margin: 1rem;
    }

    .map-info-description-text{
        font-size: 1rem;
    }
}