.timer-container{
    min-width: 5rem;
    width: 100%;
    font-size: large;
    background-color: None;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.timer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    z-index: 2;
}

.timer-fill{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00FF00;
    opacity: 0.8;
    transition: 0.1s linear;
    z-index: 1;
}

.timer-text{
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: bold;
    background-color: var(--even-darker-darkest-blue);
    border-color: var(--color-accent-gold);
    border-style: solid;
    border-width: 2px;
    border-top-width: 0;
}