.title-header {
    padding-top: 1rem;
    color:white;
    font-size: 2rem;
    font-weight: 700;
}

.title-header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.map-leaderboard-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-leaderboard-box{
    width: 90%;
    background-color: var(--dark-blue);
    border-radius: 1rem;
    padding: 1rem;
}

.rank-number-text{
    color:white;
    font-size: 1.5rem;
}

.user-name-text{
    color:var(--lightest-blue);
    font-size: 1rem;
    height: 100%;
}

.rank-box{
    display: flex;
    justify-content: left;
    align-items: center;
    gap:2px;
}
.leaderboard-table{
    width: 100%;
    column-width: 10%;
    color: white;
}

.highlight-self-row{
    background-color: var(--theme-blue);
}

.nmpz-toggle-btn {
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    color: var(--plonk-stars-white);
    background-color: var(--darker-blue);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    float: right;
}

.nmpz-toggle-btn:hover {
    background-color: var(--darkest-blue);
}

.nmpz-toggle-btn:active {
    background-color: var(--pastel-dark-blue);
    transform: scale(0.95);
}

.nmpz-toggle-btn.toggled {
    color: var(--darker-blue);
    background-color: var(--plonk-stars-white);
}

.nmpz-toggle-btn.toggled:hover {
    filter: brightness(90%);
}

.nmpz-toggle-btn.toggled:active {
    filter: brightness(80%);
    transform: scale(0.95);
}