.title-header {
    padding-top: 1rem;
    color:white;
    font-size: 2rem;
    font-weight: 700;
}

.title-header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.map-leaderboard-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-leaderboard-box{
    width: 90%;
    background-color: var(--dark-blue);
    border-radius: 1rem;
    padding: 1rem;
}

.rank-number-text{
    color:white;
    font-size: 1.5rem;
}

.user-name-text{
    color:var(--lightest-blue);
    font-size: 1rem;
    height: 100%;
}

.rank-box{
    display: flex;
    justify-content: left;
    align-items: center;
    gap:2px;
}
.leaderboard-table{
    width: 100%;
    column-width: 10%;
    color: white;
}

.highlight-self-row{
    background-color: var(--theme-blue);
}