@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: rgba(132, 188, 221, 1);
  --foreground: rgba(201, 233, 238, 1);
  --color-accent1: rgba(170, 222, 231, 1);
  --color-accent2: #59a2cd;
  --main-dark: rgba(30, 75, 102, 1);

  --plonk-stars-red: rgba(220, 80, 75, 1);
  --plonk-stars-white: #ebebeb;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  margin: 0;
  background-color: var(--background);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.contacts-container {
  padding-top: 5dvh;
}

.leaflet-container-wrapper {
  width: 52vh; /* 800 */
  height: 32vh; /* 460 */
  overflow: hidden;
  z-index: 1000;
  transition: transform 0.1s ease-in-out;
  transform-origin: bottom right;
  opacity: 0.6;
  transform: scale(1); /* scale 0.59 */
}

.leaflet-container-wrapper.hovered {
  transform: scaleX(1.7) scaleY(1.7); /* 1.2 instead */
  opacity: 1;
  cursor: crosshair;
}

.leaflet-container-wrapper:hover {
  transform: scaleX(1.7) scaleY(1.7); /* 1.2 instead */
  opacity: 1;
  cursor: crosshair;
}

.leaflet-control-attribution {
  font-size: 0.5rem !important;
}

.leaflet-map {
  width: 100%;
  height: 100%;
}

.leaflet-container-result-wrapper {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  z-index: 1000;
}

.leaflet-result-map {
  width: 100%;
  height: 100%;
}

.combined-map-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.start-button {
  width: 35%;
  background: linear-gradient(
    to right,
    var(--plonk-stars-red) 30%,
    var(--foreground)
  );
  background-size: 200% auto;
  background-position: left center;
  color: #ffffff;
  font-weight: 500;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-width: 5px;
  border-color: var(--plonk-stars-red);
  border-radius: 2rem;
  cursor: pointer;
  transition: background-position 0.5s ease;
}

.start-button:hover {
  background-position: right center;
}

.map-result-container {
  position: relative;
  z-index: 0;
}

@media (max-width: 720px) {
  .tree {
    overflow: hidden !important;
    width: 0pxm !important;
    height: 0px !important;
  }

  .tree2 {
    overflow: hidden !important;
    width: 0px !important;
    height: 0px !important;
  }
  .map-result-container {
    top: -5vh;
  }
  .combined-map-container {
    margin: 0%;
    top: -10vh;
  }
  .leaflet-container-wrapper {
    width: 100vh;
    height: 30vh;
    opacity: 1;
  }

  .leaflet-container-wrapper:hover {
    transform: none;
  }
  .leaflet-container-wrapper.hovered {
    transform: none;
  }

  .leaflet-container-result-wrapper {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom right;
  }
}

.tree {
  display: flex;
  position: absolute;
  z-index: -10;
  max-width: 500px;
  height: auto;
  rotate: 20deg;
  left: -10%;
  bottom: 10%;
  transition: transform 3s ease-in-out;
  animation: tree-sway1 3s linear infinite;
  transform-origin: center bottom;
}

.tree2 {
  display: flex;
  position: absolute;
  z-index: -10;
  max-width: 550px;
  height: auto;
  rotate: 20deg;
  right: 0;
  bottom: 10%;
  transition: transform 3s ease-in-out;
  animation: tree-sway2 3s linear infinite;
  transform-origin: center bottom;
}

@keyframes tree-sway1 {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes tree-sway2 {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.form-window {
  background-color: var(--color-accent2);
}

.form-button-selected {
  background-color: var(--plonk-stars-red);
}

.form-button-selected:hover {
  background-color: var(--plonk-stars-red);
  filter: brightness(90%);
}

.form-button-not-selected {
  background-color: var(--plonk-stars-red);
  filter: brightness(150%);
  cursor: not-allowed;
}

.form-button-general {
  color: var(--plonk-stars-white);
  text-align: center;
  border-radius: 0.5rem;
  width: 100%;
}

.input-field {
  background-color: var(--foreground);
  color: var(--color-accent2);
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.75rem;
}

.input-field-1 {
  background-color: var(--foreground);
  color: var(--plonk-stars-white);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  width: 100%;
  padding: 0.75rem;
}

.bg-dark {
  background-color: var(--main-dark);
}

.bg-white {
  background-color: var(--plonk-stars-white);
}

.bg-red {
  background-color: var(--plonk-stars-red);
}

.bg-accent1 {
  background-color: var(--color-accent1);
}

.bg-accent2 {
  background-color: var(--accent2);
}

.text-dark {
  color: var(--main-dark);
}

.text-white {
  color: var(--plonk-stars-white);
}

.text-red {
  color: var(--plonk-stars-red);
}

.text-accent1 {
  color: var(--color-accent1);
}

.text-accent2 {
  color: var(--color-accent2);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
}

input[type="range"]:focus {
  outline-color: var(--main-dark);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-dark);
}

.game-setup-btn {
  background-color: var(--plonk-stars-red);
  color: var(--plonk-stars-white);
  transition: 0.2s ease-in-out;
}

.game-setup-btn:hover {
  filter: brightness(90%)
}

.game-footer {
  color: #ffffff;
  display: flex;
  height: 10vh;
  width: 100%;
  align-items: center;
}

.game-footer-element {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-button {
  height: 70%;
  padding-left: 7rem;
  padding-right: 7rem;
  background-color: var(--plonk-stars-red);
  justify-content: center;
  align-items: center;
  color: var(--plonk-stars-white);
  border: 1px solid var(--plonk-stars-white);
  transition: 150ms ease-in-out;
  border-radius: 2rem;
}

.game-button:not(:disabled):hover {
  transform: translate(0, -0.1rem);
  background-color: var(--plonk-stars-red);
  color: var(--plonk-stars-white);
  border: 1px solid var(--plonk-stars-white);
  scale: 1.03;
}

.game-button:disabled {
  opacity: 0.5;
  background: #000 !important;
  cursor: not-allowed;
}

.timer-wrapper {
  top: 10vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: None;
}
