@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --lightest-blue     : rgba(201, 233, 238, 1);
  --lighter-blue      : rgba(170, 222, 231, 1);
  --theme-blue        : rgba(132, 188, 221, 1);
  --dark-blue         : rgba( 89, 162, 205, 1);
  --darker-blue       : rgba( 30,  75, 102, 1);
  --darkest-blue      : rgba(  0,  25,  51, 1);
  --pastel-dark-blue  : rgba( 57, 110, 214, 1);

  --color-accent-gold : rgba(255, 215,   0, 1);

  --plonk-stars-red   : rgba(220,  80,  75, 1);
  --plonk-stars-white : rgba(235, 235, 235, 1);
}

html{
  overflow: hidden;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--lightest-blue);
  margin: 0;
  background-color: var(--theme-blue);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: none;
  color: var(--color-accent-gold);
}

.link:hover {
text-decoration: underline;
}

.btn-primary {
  background-color: var(--plonk-stars-red);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transition: 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--plonk-stars-red);
  transform: scale(1.02);
  box-shadow: 0px 3px 10px rgba(  0,  25,  51, 0.3);
}

.btn-primary:active {
  transform: scale(0.97);
}

.form-window {
  background-color: var(--dark-blue);
}

.form-button-selected {
  background-color: var(--plonk-stars-red);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transition: 0.2s ease-in-out;
}

.form-button-selected:hover {
  background-color: var(--plonk-stars-red);
  filter: brightness(90%);
}

.form-button-not-selected {
  background-color: var(--plonk-stars-red);
  filter: brightness(150%);
  cursor: not-allowed;
}

.form-button-general {
  color: var(--plonk-stars-white);
  text-align: center;
  border-radius: 0.5rem;
  width: 100%;
}

.input-field {
  background-color: var(--lightest-blue);
  color: var(--darker-blue);
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.75rem;
}

.input-field-1 {
  background-color: var(--lightest-blue);
  color: var(--plonk-stars-white);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  width: 100%;
  padding: 0.75rem;
}

.bg-dark {
  background-color: var(--darker-blue);
}

.bg-white {
  background-color: var(--plonk-stars-white);
}

.bg-red {
  background-color: var(--plonk-stars-red);
}

.bg-accent1 {
  background-color: var(--lighter-blue);
}

.bg-accent2 {
  background-color: var(--accent2);
}

.text-dark {
  color: var(--darker-blue);
}

.text-white {
  color: var(--plonk-stars-white);
}

.text-red {
  color: var(--plonk-stars-red);
}

.text-accent1 {
  color: var(--lighter-blue);
}

.text-accent2 {
  color: var(--dark-blue);
}

.navbar-buffer{
  height: 68px;
}