.party-page-footer {
    height: 4rem;
    width: 100%;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.05);
    align-items: center;
    overflow: hidden;
}

.party-page-content {
    height: calc(100vh - 4rem - var(--navbar-height));
    overflow: auto;
    position: relative;
}

.party-page-footer-content-left{
    margin-left: 1rem;
}

.party-page-footer-content-center{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 50rem;
}

.party-page-footer-content-right{
    margin-right: 1rem;
}

.party-page-map{
    background-color: var(--dark-blue) !important;
    border-width: 2px !important;
    border-color: white !important;
    filter: brightness(110%);
}

.party-page-map-host:hover{
    cursor: pointer;
    filter: brightness(90%);
}

.party-page-start-button{
    background-color: var(--color-green);
    transition: all 0.2s ease-in-out;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

.party-page-start-button:hover{
    background-color: var(--color-green);
    filter: brightness(90%);
    transform: scale(1.02);
    box-shadow: 0px 3px 10px rgba(  0,  25,  51, 0.3);
}

.party-page-user-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height:100%;
    z-index: 1;
}

.party-page-user-card{
    min-width: 10%;
}

.user-card-style{
    box-shadow: 0px 3px 10px rgba(0, 25, 51, 0.3);
}

.user-card-outline{
    border-color: white;
    border-width: 2px;
}

.user-card-gold-name{
    color: var(--leaderboard-yellow);
}

.party-kick-button{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    color: white;
    transition: all 0.2s ease-in-out;
}

.party-kick-button:hover{
    cursor: pointer;
    color: var(--plonk-stars-red);
}

.party-page-rules-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.party-page-rule-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.party-page-rule-key-text{
    font-size: 1.25rem;
    color: var(--plonk-stars-red);
    font-weight: 800;
    
}

.party-page-rule-value-text{
    font-size: 1rem;
    color: white;
}

.party-page-rules-footer{
    background-color: var(--dark-blue);
    border-radius: 1rem;
    padding: 0 1rem;
    border: solid 2px white;
    filter: brightness(110%);
    transition: all 0.2s ease-in-out;
}

.party-page-rules-footer-host:hover{
    cursor: pointer;
    filter: brightness(90%);
}

.party-page-code-box{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--dark-blue);
    padding: 0.5rem;
    z-index: 2;
}