.party-page-footer {
    height: 4rem;
    width: 100%;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.05);
    align-items: center;
    overflow: hidden;
}

.party-page-content {
    height: calc(100vh - 4rem - var(--navbar-height));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.party-page-footer-content-left{
    margin-left: 1rem;
}

.party-page-footer-content-center{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 50rem;
}

.party-page-footer-content-right{
    margin-right: 1rem;
}

.party-page-map{
    background-color: var(--dark-blue) !important;
    border-width: 2px !important;
    border-color: white !important;
    filter: brightness(110%);
}

.party-page-map-host:hover{
    cursor: pointer;
    filter: brightness(90%);
}

.party-page-start-button{
    background-color: var(--color-green);
    transition: all 0.2s ease-in-out;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

.party-page-start-button:hover{
    background-color: var(--color-green);
    filter: brightness(90%);
    transform: scale(1.02);
    box-shadow: 0px 3px 10px rgba(  0,  25,  51, 0.3);
}

.party-page-user-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    z-index: 0;
}

.party-page-user-card{
    min-width: 8vw;
}

.user-card-style{
    box-shadow: 0px 3px 10px rgba(0, 25, 51, 0.3);
}

.user-card-outline{
    border-color: white;
    border-width: 2px;
}

.user-card-gold-name{
    color: var(--leaderboard-yellow);
}

.party-user-buttons{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    color: white;
    transition: all 0.2s ease-in-out;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.party-kick-button:hover{
    color: var(--plonk-stars-red);
}

.party-page-rules-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.party-page-rule-item{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    height: 100%;
}

.party-page-rule-key-text{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    color: var(--plonk-stars-red);
    font-weight: 800;
    
}

.party-page-rule-value-text{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: white;
}

.party-page-rules-footer{
    background-color: var(--dark-blue);
    border-radius: 1rem;
    padding: 0 1rem;
    border: solid 2px white;
    filter: brightness(110%);
    transition: all 0.2s ease-in-out;
}

.party-page-rules-footer:hover{
    cursor: pointer;
    filter: brightness(90%);
}

.party-page-code-box{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--dark-blue);
    padding: 0.5rem;
    z-index: 1;
}

.party-page-mode-box{
    position: absolute;
    top: 0.5rem;
    width: 200px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--dark-blue);
    padding: 0.5rem;
    z-index: 1;
    transform: translateX(-50%);
}

.party-page-modal-title{
    font-size: x-large;
    font-weight: 600;
    text-align: center;
}

.party-page-code-box:hover{
    cursor: pointer;
    filter: brightness(90%);
}

.party-page-mode-change-arrow{
    font-size: 1.5rem;
    color: white;
    transition: all 0.2s ease-in-out;
}

.party-page-mode-change-arrow:hover{
    cursor: pointer;
    color: var(--plonk-stars-red);
    transform: scale(1.1);
}

.party-page-team-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 0;
    gap: 1rem;
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.party-page-team-content-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.party-page-team-boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.party-page-team-box{
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

.party-page-team-box:hover{
    filter: brightness(90%);
    transform: scale(1.02);
    box-shadow: 0px 3px 10px rgba(0, 25, 51, 0.3);
}

.party-page-team-box-selected{
    border-width: 3px;
    border-color: white;
    transform: scale(1.02);
    box-shadow: 0px 3px 10px rgba(0, 25, 51, 0.3);
}

.party-page-spectator-box{
    border-color: white;
    border-width: 2px;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.party-page-team-box-title{
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    -webkit-text-stroke: 0.5px black;
    -webkit-text-fill-color: white;
    font-weight: 800;
}

.party-page-footer-content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.party-page-team-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.party-page-create-team-button{
    background-color: var(--color-green);
}

.party-page-team-settings-button{
    background-color: gray;
}

.party-page-delete-team-button{
    background-color: var(--plonk-stars-red);
}

.party-page-leave-team-button{
    background-color: var(--plonk-stars-red);
}

.party-page-join-team-button{
    background-color: var(--color-green);
}

.party-page-team-button{
    border-radius: 1rem;
    padding: 0.25rem 2rem;
    border: none;
    transition: all 0.2s ease-in-out;
    color: white;
}

.party-page-team-button:hover{
    cursor: pointer;
    filter: brightness(90%);
    transform: scale(1.02);
    box-shadow: 0px 3px 10px rgba(0, 25, 51, 0.3);
}

.party-page-team-settings-title {
    background-color: var(--dark-blue);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 3px 10px rgba(0, 25, 51, 0.3);
}

.party-page-team-settings-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.party-team-settings-modal-save{
    background-color: var(--plonk-stars-red);
}

.party-team-settings-modal-cancel{
    background-color: gray;
}

.party-page-modal-team-settings-form{
    background-color: var(--lighter-blue);
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0px 3px 10px rgba(0, 25, 51, 0.3);
    color: var(--darkest-blue);
}

.party-page-team-settings-name-edit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 600;
    color:black;
}

.party-page-team-settings-name{
    width: 100%;
    overflow: auto;
    overflow-x: auto;  
    white-space: nowrap;
    word-break: break-all;
    text-align: center;
}

.party-page-team-name-edit-button{
    display: inline;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.party-page-team-name-edit-button:hover{
    cursor: pointer;
    filter: brightness(110%);
}

.party-page-team-settings-name-edit-textbox{
    text-align: center;
    width: 100%;
}

.party-page-team-settings-name-editing-footer{
    color: gray;
    font-size: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.party-page-team-settings-name-edit-instruction{
    font-size: 0.5rem;
    text-align: center;
}

.party-page-team-settings-color{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.party-page-team-settings-color-picker{
    align-items: center;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}
.party-page-team-settings-color-buttons{
    display: flex;
    gap: 1rem;
}
.party-page-team-settings-color-reset{
    font-weight: bold;
    background-color: gray;
}
.party-page-team-settings-color-random{
    background-color: var(--color-green);
    font-weight: bold;
}

.party-page-team-settings-color-random:hover {
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red
  );
  background-size: 400% 100%;
  animation: rainbow 8s linear infinite;
  cursor: pointer;
}

@keyframes rainbow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 400% 0%;
  }
}