.settings-popup {
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    transition: ease-in-out 1s;
}

.popup-wrapper {
    position: fixed;
    top: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

@keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

.slide-down {
    animation: slideDown 0.5s ease-out forwards;
}