.centered-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.delete-map-text {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.delete-map-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.delete-box {
    width: 70%;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    border-color: white;
    border-width: 2px;
}

.delete-map-input{
    color: black;
}

.delete-map-input-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.delete-map-button{
    margin-left:1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: red;
    transition: all 0.3s ease;
}

.delete-map-button:disabled{
    background-color: grey;
    cursor: not-allowed;
}

.delete-map-button:not(:disabled):hover{
    filter: brightness(75%);
    transform: scale(1.05);
}