.footer-container {
    background: linear-gradient(135deg, var(--theme-blue), var(--lightest-blue));
    padding: 2rem;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    opacity: 1;
  }
  
  .footer-container p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .about-text {
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: var(--darker-blue);
  }

  @media (max-width: 600px) {
    .footer-container {
      padding: 1rem;
    }
    .footer-links {
      flex-direction: column;
      color: var(--lightest-blue);
      gap: 1rem;
    }
  
    .footer-link {
      font-size: 1rem;
    }
  }
  