.btn{
    background-color: var(--plonk-stars-red);
    color: var(--plonk-stars-white);
    transition: 0.2s ease-in-out;
}

.btn:hover {
    filter: brightness(90%)
}

.next-button {
    padding: 0.5rem;
    border-radius: 0.375rem;
}

.map-title {
    display: inline;
    width: 40%;
}

.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    padding: 1rem;
    align-items: stretch;
}

.search-body {
    font-size: 1rem;
    flex-grow: 1;
}

.search-body-height {
    overflow-y: scroll;
}

.map-stat {
    width:15%;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.map-icon{
    color: grey;
    filter: brightness(75%);
    padding-right: 0.2rem;
    font-size: x-large;
}

.map-stat-stat {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}
.map-card:hover {
    background-color: var(--lighter-blue);
}

.map-card {
    background-color: var(--plonk-stars-white);
    color: var(--even-darker-darkest-blue);
    cursor: pointer;
    display: flex;
    flex-direction: row; 
    align-items: center;
    border-radius: 1rem;
    box-shadow: 1rem;
}

.map-name {
    font-size: 1.2rem;
}

.map-creator {
    font-size: 0.8rem;
    color: gray;
}