.leaderboard-table-cell-wrapper{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.25rem;
}

.leaderboard-table-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: black;
}

.leaderboard-table-position{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.leaderboard-table tbody tr th:nth-child(1), td:nth-child(1) {
    width: 0%;
}

.leaderboard-table-header{
    font-size: 1.5rem;
}

.nmpz-toggle-btn {
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    color: var(--plonk-stars-white);
    background-color: var(--darker-blue);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    float: right;
}

.nmpz-toggle-btn:hover {
    background-color: var(--darkest-blue);
}

.nmpz-toggle-btn:active {
    background-color: var(--pastel-dark-blue);
    transform: scale(0.95);
}

.nmpz-toggle-btn.toggled {
    color: var(--darker-blue);
    background-color: var(--plonk-stars-white);
}

.nmpz-toggle-btn.toggled:hover {
    filter: brightness(90%);
}

.nmpz-toggle-btn.toggled:active {
    filter: brightness(80%);
    transform: scale(0.95);
}