.duels-team-summary-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    border: 2px solid var(--plonk-stars-white);
    border-radius: 1rem;
    background-color: var(--dark-blue);
    padding: 1rem;
}

.duels-team-summary-title{
    color: var(--plonk-stars-white);
    font-size: 1.5rem;
    font-weight: bold;
}

.duels-team-summary-overall-stats{
    background-color: var(--theme-blue);
    border: 2px solid var(--plonk-stars-white);
    border-radius: 1rem;
    display: grid;
    grid-template-columns:  2fr 1fr 2fr;
    color: var(--plonk-stars-white);
    padding: 1rem;
    gap: 2rem;
    width: 80%;
}

@media (width < 1024px) {
    .duels-team-summary-overall-stats{
        grid-template-columns:  1fr;
        gap: 0.5rem;
    }
    .duels-team-summary-small-screen-hidden{
        display: none !important;
    }
}

.duels-team-summary-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.duels-team-summary-title-title{
    font-size: 1.5rem;
    font-weight: 1000;
    text-align: center;
}


.duels-team-summary-title-subtext{
    font-size: 0.75rem;
    font-style: italic;
    margin-top: 0.5rem;
    text-align: center;
}


.duels-team-summary-stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.duels-team-summary-stat-title{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.duels-team-summary-stat-players-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.5rem;
    align-items: center;
}

.duels-team-summary-stats-user-icon{
    margin-top: 1rem;
    width: 5rem;
}
.duels-team-summary-stats-username{
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.duels-team-summary-rounds{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.duels-team-summary-round-box{
    background-color: var(--theme-blue);
    border: 2px solid var(--plonk-stars-white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--plonk-stars-white);
    padding: 1rem;
    
}

.duels-team-summary-round-healthbar{
    min-width: 300px;
    height: 50px;
}

.duels-team-summary-round-header{
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
}

.duels-team-summary-round-guesses-wrapper{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
}

.duels-team-summary-round-guess{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid var(--plonk-stars-white);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: black;
    background-color: var(--lighter-blue);
}

.duels-team-summary-round-guess-no-guess{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: bold;
}

.duels-team-summary-round-guess-title{
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
}

.duels-team-summary-round-guess-user-icon{
    margin-top: 0.5rem;
    width: 3rem;
}

.duels-team-summary-round-guess-stat{
    font-size: 0.6rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.duels-team-summary-round-no-guess{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    gap: 0.5rem;
}