.profile-card-container {
  width: 90%;
  max-width: 400px;
  height: auto;
  background: linear-gradient(
    to bottom,
    var(--color-accent1) 0%,
    var(--foreground) 20%,
    var(--background) 100%
  );
  border-radius: 2dvh;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transform: scale(1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-position 0.5s ease-in-out;
  margin: auto;
  letter-spacing: 0.05rem;
  background-size: 200% auto;
  background-position: left top;
}

.profile-card-container:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  animation: fancy 0.5s ease-in-out;
  background-position: right bottom;
}

@keyframes fancy {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.03) rotate(2deg);
  }
  50% {
    transform: scale(1.04) rotate(-2deg);
  }
  75% {
    transform: scale(1.05) rotate(2deg);
  }
  100% {
    transform: scale(1.05) rotate(0deg);
  }
}

@media (min-width: 980px) {
  .profile-card-container {
    display: flex;
    flex-direction: row;
    max-width: 600px;
  }
}

.profile-card-image {
  max-width: 180px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.profile-card-name {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.25dvh;
  letter-spacing: 0.08rem;
  color: var(--plonk-stars-red);
  opacity: 1 !important;
  text-align: center;
}

.profile-card-title {
  font-size: 0.875rem;
  color: #7b747f;
  margin-bottom: 0.5dvh;
  text-align: center;

}

.profile-card-body {
  color: var(--main-dark);
  font-size: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 20dvh;
  margin-bottom: 1dvh;
  font-family:monospace;
  font-weight: 800;
  letter-spacing: 0.01rem;
  padding: 1rem;
}

.profile-card-footer {
  padding: 1dvh;
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: auto;
}

.profile-card-footer a button {
  width: auto;
  min-width: 120px;
  background: linear-gradient(
    to right,
    var(--plonk-stars-red),
    var(--foreground)
  );
  background-size: 200% auto;
  background-position: left center;
  color: #ffffff;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  border-width: 3px;
  border-color: var(--plonk-stars-red);
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-position 0.5s ease, transform 0.2s ease-in-out;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  text-align: center;
}

.profile-card-footer a button:hover {
  background-position: right center;
  transform: scale(1.05);
}

@media (max-width: 980px) {
  .profile-card-footer a button {
    width: 100%;
    display: flex;
  }

  .profile-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-card-image {
    max-width: 250px;
    max-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    border-color: white;
    border-width: 3px;
    margin: 3vw;
  }
}