.settings-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.settings-header {
    font-size: 2rem;
    font-weight: 700;
}

.settings-box {
    margin: 1rem;
    width: 80%;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    border-color: white;
    border-width: 2px;
}

.settings-dropdown {
    width: 100%;
    color: var(--darkest-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaflet-map {
    margin-top: 1rem;
    width: 100%;
    height: 50vh;
}

.popup-wrapper {
    position: fixed;
    top: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-popup {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--darker-blue);
    color: white;
    transition: ease-in-out 1s;
}